/* map */

:root {
   --main-scale: 1.02;
}

.mapContainer {
   margin: 0 auto;
   overflow: hidden;
   width: 600px;
   max-height: 450px;
}

@media screen and (max-width: 600px) {
   .mapContainer {
      width: 120%;
      left: -70px;
      max-height: 510px;
      position: relative;
   }
}
.map {
   margin-top: -100px;
}

map area:hover {
   transform: scale(2) !important;
   background-color: red;
}

.img_0 {
   position: absolute;
   left: -3%;
   bottom: 3.5%;
   width: 80px;
   height: 120px;
}
.state_0 {
   bottom: 120px;
   left: 20.5%;
   width: 80px;
   height: 120px;
}
.state_1 {
   top: 30%;
   right: 25.5%;
   width: 100px;
   height: 100px;
}
/* MecklenburgVorpommern */
.state_2 {
   top: 80px;
   right: 33.5%;
   width: 100px;
   height: 80px;
}
/* Niedersachsen */
.state_3 {
   top: 25%;
   left: 28.5%;
   width: 100px;
   height: 110px;
   
}
.state_3::after {
   content: "";
   position: absolute;
   top: 0%;
   left: 0.5%;
   width: 50px;
   height: 120px;
}
.state_4 {
   top: 37%;
   left: 17%;
   width: 90px;
   height: 120px;
}
/* Saarland */
.state_5 {
   top: 67%;
   left: 30%;
   width: 40px;
   height: 40px;
   background-color: red;
}

.state_6 {
   top: 30%;
   left: 49%;
   width: 80px;
   height: 120px;
}
.state_7 {
   top: 47%;
   left: 55%;
   width: 120px;
   height: 100px;
}
.state_8 {
   top: 47%;
   left: 44%;
   width: 10px;
   height: 90px;
}
/* SchleswigHolstein */
.state_9 {
   top: 10%;
   left: 30%;
   width: 120px;
   height: 90px;
}
.state_10 {
   top: 47%;
   left: 42%;
   width: 80px;
   height: 90px;
}
/* RheinlandPfalz */
.img_11 {
   left: 1.3%;
   position: relative;
}
.state_11 {
   top: 56%;
   left: 25%;
   width: 80px;
   height: 100px;
}

.state_12 {
   bottom: 30px;
   right: 36%;
   width: 120px;
   height: 170px;
}
.state_12::after {
   content: "";
   position: absolute;
   left: -50px;
   top: -10px;
   width: 60px;
   height: 60px;
}

/* Berlin */
.state_13 {
   top: 33%;
   right: 33.5%;
   width: 30px;
   height: 30px;
}
/* Bremen */
.state_14 {
   top: 27%;
   right: 62%;
   width: 40px;
   height: 40px;
}
.state_15 {
   top: 48%;
   right: 55%;
   width: 100px;
   height: 120px;
}

.map_item {
   display: flex;
   justify-content: center;
}

.map_item img {
   transition: 0.2s ease;
}

.map_item span {
   opacity: 0;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   color: black;
   font-weight: 700;
   z-index: 100;
   font-size: 12px;
   margin-bottom: 5px;
   cursor: pointer;
   transition: all 0.2s ease;
   /* background-color: red; */
   text-shadow: -1px 1px 0 #41ba45, 1px 1px 0 #2bbcc6, 1px -1px 0 #42afac,
      -1px -1px 0 #3fb4c6;
}

/* common for all states */

.map_item span:hover + img {
   transform: scale(var(--main-scale));
}

.map_item span:hover {
   opacity: 1;
   transform: scale(var(--main-scale));
}

.selected {
   margin-top: 10px;
   font-weight: 600;
   font-size: 20px;
   position: fixed;
   right: 0;
   left: 0;
   top: 25px;
   z-index: 201;
   margin: 0 auto;
   width: 500px;   
}

@media only screen and (max-width: 768px) {
   .selected {
       top: 145px; 
       right: 0;
   }
}

@media screen and (max-width: 600px) {

   .map_item span {
      -webkit-tap-highlight-color: transparent;
   }
   
   .selected {
      top: 0px; 
      margin-bottom: 20px;
      height: 35px;
      font-weight: 700;
      color: rgb(223, 223, 223);
      left: 30px;
      max-width: 300px;
      position: relative;
      z-index: 1;
      width: 100%;
   }
}