.App {
   margin-top: 70px;
}

.flexBt {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.upcase {
   text-transform: uppercase;
}

.firstPageImageBlock {
   height: 40vh;
   width: 100%;
   background-color: red;
   background: url("../assets/first_page_bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
   position: absolute;
}

.firstPageContent {
   background-color: #2a7c6f;
   position: relative;
   top: 17vh;
   padding: 20px 50px !important;
}

@media screen and (max-width: 600px) {
   .page2 {
      margin-top: 150px;
   }

   h2 {
      margin-top: 10px !important;
   }
}
